body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #333;
    padding-bottom: 0;
}

.header {
    background: #666 url(../img/bg.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.header_area {
    padding-top: 150px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    width: 660px;
}
.header_area h1 {
    margin: 0;
    font-size: 60px;
    font-weight: normal;
}
.header_area p {
    margin: 0 auto;
    margin-top: 15px;
    width: 480px;
    font-size: 16px;
}


.info1 {
    width: 100%;
    height: 400px;
}
.info1_area {
    color: #333;
}
.info1_area img {
    margin-top: 80px;
    float: left;
}
.info1_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 140px;
}
.info1_area h1 {
    margin: 0;
    font-weight: normal;
}

.info2 {
    width: 100%;
    height: 350px;
    background: #333;
}
.info2_area {
    color: #333;
}
.info2_area img {
    margin-top: 48px;
    float: left;
    margin-left: 40px;
}
.info2_text {
    text-align: center;
    width: 460px;
    float: left;
    margin-left: 70px;
    margin-top: 140px;
    color: #fff;
}
.info2_area h1 {
    margin: 0;
    font-weight: normal;
}

.contact {
    width: 100%;
    height: 515px;
}

.contact_area h1 {
    font-weight: normal;
}
.contact_area input {
    margin: 10px 0;
    border: 2px solid #333;
    width: 350px;
    padding: 10px;
}

.contact_area textarea {
    margin: 10px 0;
    border: 2px solid #333;
    width: 350px;
    padding: 10px;
}

.contact_area button {
    padding: 10px;
    width: 90px;
    background: #333;
    color: #fff;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
}
.contact_area button:hover {
    background: #fff;
    color: #333;
    border: 2px solid #333;
}

footer {
    background: #333;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    color: #fff;
}
footer p {
    margin: 0;
}